/* styles.css */
#body {
    flex-grow: 1;
    width: 1920;
}

.header {
    background-color: #1F2937;
    color: #E5E7EB;
}

.menu {
    display: flex;
}

.links {
    margin: 20px;
    flex: 1;
    display: flex;
    gap: 40px;
    justify-content: right;
    font: white;
}

.ThisWebsiteIsAwesome {
    padding: 100px;
    background-color: #1F2937;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #E5E7EB;
}

.ThisWebsiteIsAwesome.p {
    display: block;
}

.SomeRandomInformation {
    padding: 100px;
}

.QuoteDiv {
    background-color: #E5E7EB;
    padding: 100px;
}

.SignUp {
    padding: 100px;
}

.Footer {
    padding: 20px;
    background-color: #1F2937;
}